{{define "home"}}
<!DOCTYPE html>
<html>
{{template "head"}}

<body class="bg-dark">
    {{template "header"}}
    <div id="billboard" class="padding-large overflow-hidden">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-md-7 col-sm-8">
                    <div class="banner-content content-light m-0 mt-5 mt-md-0">
                        <h1 class="banner-title m-0">Best NFTs Marketplace.</h1>
                        <p class="grey">Ultrices eget pretium sit euismod mi id. In commodo auctor eget congue sit.
                            Risus, aliquam
                            odio posuere ac in in nisl sed augue. Porta aenean egestas malesuada in pulvinar enim
                            viverra.</p>
                        <div class="btn-wrap d-flex flex-wrap">
                            <a href="#" class="btn btn-linear btn-medium mt-3">Get Started</a>
                            <a href="#" class="btn btn-outline-linear btn-medium mt-3">Create NFTs</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-8">
                    <div class="image-holder">
                        <img src="/static/images/banner-image.png" alt="banner" class="banner-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="association-with" class="padding-large pt-5 pattern-blur">
        <div class="pattern-overlay left-side-pattern">
            <img src="/static/images/pattern-blur-left.png">
        </div>
        <div class="container">
            <div class="row justify-content-between">
                <img src="/static/images/association-brand1.png" alt="brand" class="col-md-2 img-fluid">
                <img src="/static/images/association-brand2.png" alt="brand" class="col-md-2 img-fluid">
                <img src="/static/images/association-brand3.png" alt="brand" class="col-md-2 img-fluid">
                <img src="/static/images/association-brand4.png" alt="brand" class="col-md-2 img-fluid">
                <img src="/static/images/association-brand5.png" alt="brand" class="col-md-2 img-fluid">
            </div>
        </div>
    </section>
    <section id="product-card" class="">
        <div class="container">
            <div class="row">
                <div class="section-header text-center">
                    <h2 class="section-title light">Collect Some NFTs </h2>
                </div>
                <div class="swiper product-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="image-holder">
                                    <img src="/static/images/collection-item1.jpg" alt="collection"
                                        class="rounded-shape">
                                </div>
                                <div class="product-detail bg-light">
                                    <div class="card-header d-flex flex-wrap justify-content-between">
                                        <h3 class="card-title">Lighting Axe</h3>
                                        <span class="currency">0.36 ETH</span>
                                    </div>
                                    <div class="clients-detail">
                                        <img src="/static/images/clients-item1.jpg" alt="clients" class="circle-shape">
                                        <span class="clients-name">Loura Chin</span>
                                    </div>
                                    <div class="btn-card">
                                        <a href="#" class="btn btn-linear btn-full btn-rounded btn-medium">Place a
                                            Bid</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="image-holder">
                                    <img src="/static/images/collection-item2.jpg" alt="collection"
                                        class="rounded-shape">
                                </div>
                                <div class="product-detail bg-light">
                                    <div class="card-header d-flex flex-wrap justify-content-between">
                                        <h3 class="card-title">Skeleton Head</h3>
                                        <span class="currency">0.29 ETH</span>
                                    </div>
                                    <div class="clients-detail">
                                        <img src="/static/images/clients-item2.jpg" alt="clients" class="circle-shape">
                                        <span class="clients-name">Kelvin Glan</span>
                                    </div>
                                    <div class="btn-card">
                                        <a href="#" class="btn btn-linear btn-full btn-rounded btn-medium">Place a
                                            Bid</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="image-holder">
                                    <img src="/static/images/collection-item3.jpg" alt="collection"
                                        class="rounded-shape">
                                </div>
                                <div class="product-detail bg-light">
                                    <div class="card-header d-flex flex-wrap justify-content-between">
                                        <h3 class="card-title">Hard Breath</h3>
                                        <span class="currency">0.22 ETH</span>
                                    </div>
                                    <div class="clients-detail">
                                        <img src="/static/images/clients-item3.jpg" alt="clients" class="circle-shape">
                                        <span class="clients-name">Glam Lee</span>
                                    </div>
                                    <div class="btn-card">
                                        <a href="#" class="btn btn-linear btn-full btn-rounded btn-medium">Place a
                                            Bid</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="image-holder">
                                    <img src="/static/images/collection-item2.jpg" alt="collection"
                                        class="rounded-shape">
                                </div>
                                <div class="product-detail bg-light">
                                    <div class="card-header d-flex flex-wrap justify-content-between">
                                        <h3 class="card-title">Skeleton Head</h3>
                                        <span class="currency">0.29 ETH</span>
                                    </div>
                                    <div class="clients-detail">
                                        <img src="/static/images/clients-item2.jpg" alt="clients" class="circle-shape">
                                        <span class="clients-name">Kelvin Glan</span>
                                    </div>
                                    <div class="btn-card">
                                        <a href="#" class="btn btn-linear btn-full btn-rounded btn-medium">Place a
                                            Bid</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="image-holder">
                                    <img src="/static/images/collection-item3.jpg" alt="collection"
                                        class="rounded-shape">
                                </div>
                                <div class="product-detail bg-light">
                                    <div class="card-header d-flex flex-wrap justify-content-between">
                                        <h3 class="card-title">Hard Breath</h3>
                                        <span class="currency">0.22 ETH</span>
                                    </div>
                                    <div class="clients-detail">
                                        <img src="/static/images/clients-item1.jpg" alt="clients" class="circle-shape">
                                        <span class="clients-name">Glam Lee</span>
                                    </div>
                                    <div class="btn-card">
                                        <a href="#" class="btn btn-linear btn-full btn-rounded btn-medium">Place a
                                            Bid</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-item">
                                <div class="image-holder">
                                    <img src="/static/images/collection-item3.jpg" alt="collection"
                                        class="rounded-shape">
                                </div>
                                <div class="product-detail bg-light">
                                    <div class="card-header d-flex flex-wrap justify-content-between">
                                        <h3 class="card-title">Hard Breath</h3>
                                        <span class="currency">0.22 ETH</span>
                                    </div>
                                    <div class="clients-detail">
                                        <img src="/static/images/clients-item3.jpg" alt="clients" class="circle-shape">
                                        <span class="clients-name">Glam Lee</span>
                                    </div>
                                    <div class="btn-card">
                                        <a href="#" class="btn btn-linear btn-full btn-rounded btn-medium">Place a
                                            Bid</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <section id="top-creators" class="padding-large">
        <div class="container">
            <div class="row">
                <div class="section-header align-center">
                    <h2 class="section-title light">Top Creators </h2>
                    <p>In commodo auctor eget congue sit. Ultrices eget pretium sit euismod mi id. Risus, aliquam odio
                        posuere ac
                        in in nisl sed augue.</p>
                    <a href="#" class="btn btn-linear btn-medium mt-4">View all creators</a>

                </div>
                <div class="product-content overflow-hidden">
                    <div class="row d-flex flex-wrap">
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item bg-blue-trans border-rounded">
                                <div class="product-detail text-center">
                                    <div class="clients-detail">
                                        <img src="/static/images/clients-item-lg1.jpg" alt="clients"
                                            class="circle-shape">
                                    </div>
                                    <h3 class="block-title">Loura Chin</h3>
                                    <div class="btn-card">
                                        <a href="#" class="btn btn-linear btn-rounded btn-medium">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item bg-blue-trans border-rounded">
                                <div class="product-detail text-center">
                                    <div class="clients-detail">
                                        <img src="/static/images/clients-item-lg2.jpg" alt="clients"
                                            class="circle-shape">
                                    </div>
                                    <h3 class="block-title">Kelvin Glan</h3>
                                    <div class="btn-card">
                                        <a href="#" class="btn btn-linear btn-rounded btn-medium">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item bg-blue-trans border-rounded">
                                <div class="product-detail text-center">
                                    <div class="clients-detail">
                                        <img src="/static/images/clients-item-lg3.jpg" alt="clients"
                                            class="circle-shape">
                                    </div>
                                    <h3 class="block-title">Glam Lee</h3>
                                    <div class="btn-card">
                                        <a href="#" class="btn btn-linear btn-rounded btn-medium">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item bg-blue-trans border-rounded">
                                <div class="product-detail text-center">
                                    <div class="clients-detail">
                                        <img src="/static/images/clients-item-lg4.jpg" alt="clients"
                                            class="circle-shape">
                                    </div>
                                    <h3 class="block-title">Alameda</h3>
                                    <div class="btn-card">
                                        <a href="#" class="btn btn-linear btn-rounded btn-medium">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="subscribe" class=" pattern-circle">
        <div class="pattern-overlay">
            <img src="/static/images/pattern-overlay.png" alt="pattern-overlay">
        </div>
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-center">
                <div class="col-md-6">
                    <div class="image-holder">
                        <img src="/static/images/single-image.jpg" alt="single image" class="banner-image">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="subscribe-content">
                        <div class="subscribe-header">
                            <h3 class="subscribe-title light">Subscribe And get Latest news update about NFTs.</h3>
                            <p>In commodo auctor eget congue sit. Ultrices eget pretium sit euismod mi id. Risus,
                                aliquam odio posuere
                                ac in in nisl sed augue. Porta aenean egestas malesuada in pulvinar enim viverra.</p>
                        </div>
                        <form id="form" class="d-flex justify-content-between bg-blue-trans rounded-3">
                            <input type="text" name="email" placeholder="Write your email here"
                                class="btn-rounded w-100 content-dim-light align-self-center bg-transparent border-0">
                            <button class="btn btn-linear btn-medium rounded-0">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="nft-collection" class="padding-large">
        <div class="container">
            <div class="row overflow-hidden">
                <div class="section-header align-center">
                    <h2 class="section-title light">NFTs collections</h2>
                    <p>Ultrices eget pretium sit euismod mi id posuere ac in in nisl sed augue.</p>
                </div>
                <div class="product-content">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item bg-blue-trans border-rounded-pill">
                                <div class="product-detail text-center">
                                    <div class="clients-detail">
                                        <img src="/static/images/blog1.jpg" alt="clients" class="circle-shape">
                                    </div>
                                    <h3 class="block-title">Broken Collection</h3>
                                    <div class="btn-card">
                                        <a href="#" class="view-btn">View Collection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item bg-blue-trans border-rounded-pill">
                                <div class="product-detail text-center">
                                    <div class="clients-detail">
                                        <img src="/static/images/blog2.jpg" alt="clients" class="circle-shape">
                                    </div>
                                    <h3 class="block-title">Broken Collection</h3>
                                    <div class="btn-card">
                                        <a href="#" class="view-btn">View Collection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item bg-blue-trans border-rounded-pill">
                                <div class="product-detail text-center">
                                    <div class="clients-detail">
                                        <img src="/static/images/blog3.jpg" alt="clients" class="circle-shape">
                                    </div>
                                    <h3 class="block-title">Broken Collection</h3>
                                    <div class="btn-card">
                                        <a href="#" class="view-btn">View Collection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item bg-blue-trans border-rounded-pill">
                                <div class="product-detail text-center">
                                    <div class="clients-detail">
                                        <img src="/static/images/blog4.jpg" alt="clients" class="circle-shape">
                                    </div>
                                    <h3 class="block-title">Broken Collection</h3>
                                    <div class="btn-card">
                                        <a href="#" class="view-btn">View Collection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="padding-large">
        <div class="container">
            <div class="row overflow-hidden">
                <div class="section-header d-md-flex justify-content-between ">
                    <h2 class="section-title light">Our Latest Blog</h2>
                    <div>
                        <a href="#" class="btn btn-linear btn-medium">Read our blogs</a>
                    </div>
                </div>
                <div class="product-content">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item bg-blue-trans p-3 rounded-1 mb-3 ">
                                <div class="product-detail">
                                    <div class="clients-detail">
                                        <a href="blog-single.html"> <img src="/static/images/nft-item1.jpg"
                                                alt="clients"> </a>
                                    </div>
                                    <div class="btn-card">
                                        <a href="blog-single.html" class="view-btn">Art</a>
                                    </div>
                                    <a href="blog-single.html">
                                        <h3 class="block-title">Best NFTs arts collections from best artists </h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item bg-blue-trans p-3 rounded-1 mb-3 ">
                                <div class="product-detail">
                                    <div class="clients-detail">
                                        <a href="blog-single.html"> <img src="/static/images/nft-item2.jpg"
                                                alt="clients"> </a>
                                    </div>
                                    <div class="btn-card">
                                        <a href="blog-single.html" class="view-btn">Design</a>
                                    </div>
                                    <a href="blog-single.html">
                                        <h3 class="block-title">Best NFTs arts collections from best artists </h3>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item bg-blue-trans p-3 rounded-1 mb-3 ">
                                <div class="product-detail">
                                    <div class="clients-detail">
                                        <a href="blog-single.html"> <img src="/static/images/nft-item3.jpg"
                                                alt="clients"> </a>
                                    </div>
                                    <div class="btn-card">
                                        <a href="blog-single.html" class="view-btn">NFTs</a>
                                    </div>
                                    <a href="blog-single.html">
                                        <h3 class="block-title">Best NFTs arts collections from best artists </h3>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item bg-blue-trans p-3 rounded-1 mb-3 ">
                                <div class="product-detail">
                                    <div class="clients-detail">
                                        <a href="blog-single.html"> <img src="/static/images/nft-item4.jpg"
                                                alt="clients"> </a>
                                    </div>
                                    <div class="btn-card">
                                        <a href="blog-single.html" class="view-btn">Arts</a>
                                    </div>
                                    <a href="blog-single.html">
                                        <h3 class="block-title">Best NFTs arts collections from best artists </h3>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{template "footer"}}

    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>
{{end}}