{{define "footer"}}
<footer id="footer" class="padding-large pattern-blur">
    <div class="pattern-overlay pattern-blur-footer right-side-pattern">
        <img src="/static/images/footer-pattern.png">
    </div>
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-4 col-md-6">
                <div class="footer-item item-001">
                    <img src="/static/images/main-logo.png" alt="logo">
                    <p>Ultrices eget pretium sit euismod mi id posuere ac in in nisl sed augue. Posuere ac in in
                        nisl sed augue.</p>
                    <div class="social-media">
                        <ul class="d-flex list-unstyled">
                            <li class="bg-blue-trans border-rounded-circle">
                                <a href="#">
                                    <i class="icon icon-facebook"></i>
                                </a>
                            </li>
                            <li class="bg-blue-trans border-rounded-circle">
                                <a href="#">
                                    <i class="icon icon-twitter"></i>
                                </a>
                            </li>
                            <li class="bg-blue-trans border-rounded-circle">
                                <a href="#">
                                    <i class="icon icon-instagram"></i>
                                </a>
                            </li>
                            <li class="bg-blue-trans border-rounded-circle">
                                <a href="#">
                                    <i class="icon icon-youtube"></i>
                                </a>
                            </li>
                            <li class="bg-blue-trans border-rounded-circle">
                                <a href="#">
                                    <i class="icon icon-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-item item-002 content-light">
                    <h4>Marketplace</h4>
                    <ul class="footer-menu list-unstyled">
                        <li>
                            <a href="#">NFTs</a>
                        </li>
                        <li>
                            <a href="#">Art</a>
                        </li>
                        <li>
                            <a href="#">Collectibles</a>
                        </li>
                        <li>
                            <a href="#">Virtual world</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-item item-003 content-light">
                    <h4>Info</h4>
                    <ul class="footer-menu list-unstyled">
                        <li>
                            <a href="#">Activity</a>
                        </li>
                        <li>
                            <a href="#">Stats</a>
                        </li>
                        <li>
                            <a href="#">Rankings</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-item item-004 content-light">
                    <h4>Company</h4>
                    <ul class="footer-menu list-unstyled">
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                        <li>
                            <a href="#">Features</a>
                        </li>
                        <li>
                            <a href="#">Top Creators</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-item item-005 content-light">
                    <h4>Resources</h4>
                    <ul class="footer-menu list-unstyled">
                        <li>
                            <a href="#">Info</a>
                        </li>
                        <li>
                            <a href="#">Affiliates</a>
                        </li>
                        <li>
                            <a href="#">Associated</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<hr>
<div id="footer-bottom">
    <div class="container">
        <div class="row text-center">
            <p>© 2023 Copyright <a href="https://templatesjungle.com/" class="light">TemplatesJungle</a>. All rights
                reserved </p>
        </div>
    </div>
</div>
{{end}}